@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  padding: 2vw;
}

header {
  color: white;

}

.navbar, #submit_btn {
  background:	#292b2c !important;
}

.navbar-brand {
  font-size: 2em;
  text-shadow: black 2px 2px 8px;
}

.nav li {
  padding:0.8rem;
}

body {
  background: url("img/bg.jpg");
  background-size: cover;
  height: 100vh;
}

.homework_text {
    height: 80vh;
    width: 45vw;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.homework_text::-webkit-scrollbar {
    width: 8px;
    background-color: #292b2c;
}

.homework_text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #555;
}

.homework_text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 10px;
    background-color: #292b2c;
}

.control_side {
  width: 45vw !important;
}

.inputs {
  width: 40vw;
}
